.tong{
	padding: 20px;
	margin: 0 auto;
}
.tren{
	background-color: pink;
	color: black;
	width: 100%;
	height: 25px;
	font-weight: bold;
	font-size: 20px;
	border: hotpink 1px solid;
}
.body{
	padding-top: 20px;
}
.form-group{
	background: pink;
	width: 97%;
	padding: 10px;
}
.form-group input{
	width: 300px;
}
.form-group input:hover{
	background-color: yellow;
}